.signup__footer
  .signup__footer__detail
    = link_to "プライバシーポリシー"
    = link_to "利用規約"
    = link_to "特定商取引に関する表記"
  .signup__footer__logo
    = link_to "#" do
      = image_tag "logo/logo-white.png", width: "20px"
  %p © 2020 FURIMA