%section.main__pickup
  %h2.main__pickup__title
    ピックアップブランド
  .main__pickup__box
    .main__pickup__box__title
      %a(href="#")
        %h3.name
          アーカイバ
    .main__pickup__box__contents
      .main__pickup__box__contents__content
        %a(href="#")
          %figure.main__pickup__box__contents__content__img
            = image_tag '/images/hanegawa.jpeg', alt: 'hane'
          .main__pickup__box__contents__content__text
            %h3.name
              ゴッホより普通に何が好きか聞ける権利
            .details
              %ul
                %li
                  30000円
                %li
                  = icon('fas', 'star', '0')
              %p
                (税込)
      .main__pickup__box__contents__content
        %a(href="#")
          %figure.main__pickup__box__contents__content__img
            = image_tag '/images/nishiura.jpeg', alt: 'omi'
          .main__pickup__box__contents__content__text
            %h3.name
              一旦、黙ってもらう権利
            .details
              %ul
                %li
                  10000円
                %li
                  = icon('fas', 'star', '0')
              %p
                (税込)
      .main__pickup__box__contents__content
        %a(href="#")
          %figure.main__pickup__box__contents__content__img
            = image_tag '/images/ooya.jpeg', alt: 'BOSS'
          .main__pickup__box__contents__content__text
            %h3.name
              写真と同じ顔になるまで笑い続けて貰える権利
            .details
              %ul
                %li
                  20000円
                %li
                  = icon('fas', 'star', '0')
              %p
                (税込)
