%section.main__pickup
  %h2.main__pickup__title
    商品一覧
  .main__pickup__box
    .main__pickup__box__title
      = link_to root_path do
        %h3.name
          新規投稿商品
    %ul.main__pickup__box__contents
      - if @num == 0
        %p.no-list
          出品されていません。初めての出品者になってみませんか？
      - @items.each_slice(3) do |items|
        %li.container
          - items.each do |item|
            .main__pickup__box__contents__content
              = link_to item_path(item.id) do
                %figure.main__pickup__box__contents__content__img
                  - first_image = item.images.first
                  = image_tag first_image.image.url
                  - if item.buyer != 0
                    .item-photo-sold
                      .item-photo-sold__inner
                        SOLD
                .main__pickup__box__contents__content__text
                  %h3.name
                    = item.name
                  .details
                    %ul
                      %li
                        = item.price
                        円
                      %li
                        = icon('fas', 'star', '0')
                    %p
                      (税込)
