-# refer _users.scss

.wrapper
  = render 'shared/header'

  .user-main
    .user-main__mains-contents
      .left-contents
        = render 'shared/side-bar'

      .right-contents
        .right-contents__user-view
          = link_to root_path do
            .right-contents__user-view__icon
              .right-contents__user-view__icon__figure
              .right-contents__user-view__icon__user-name
                = @user.nickname

  = render 'shared/footer'