%ul.left-contents__mypage-nav
  %li.left-contents__mypage-nav__list#list-top
    = link_to root_path do
      ユーザーマイページ
  %li.left-contents__mypage-nav__list
    = link_to root_path do
      出品した商品ー出品中
  %li.left-contents__mypage-nav__list
    = link_to root_path do
      出品した商品ー売却済
  %li.left-contents__mypage-nav__list
    = link_to root_path do
      購入した商品ー過去の取引
  %li.left-contents__mypage-nav__list
    = link_to root_path do
      お問い合わせ
%ul.left-contents__setting
  %li.left-contents__setting__list#list-top
    = link_to root_path do
      プロフィール
  %li.left-contents__setting__list
    = link_to root_path do
      発送元・お届け先住所変更
  %li.left-contents__setting__list
    = link_to root_path do
      支払い方法
  %li.left-contents__setting__list
    = link_to root_path do
      メールパスワード
  %li.left-contents__setting__list
    = link_to logouts_path do
      ログアウト