-# refer _new.scss

.wrapper
  = render 'shared/header'

  .user-main
    .user-main__mains-contents
      .left-contents
        = render "shared/side-bar"
    
      .right-contents
        .right-contents__card-info
          クレジットカード情報入力
        .right-contents__add-info
          = form_with url: pay_user_creditcards_url, html: { name: "inputForm" } do |f|
            .right-contents__add-info__number

              = f.label :カード番号, class: "label"
              %span.form-require 必須
              = f.text_field :card_number, type: 'text', class: 'input', placeholder: '半角英数のみ', maxlength: '16'
            .right-contents__add-info__expire
              = f.label :有効期限, class: 'label'
              %span.form-require 必須
              %br
              .right-contents__add-info__expire__wrapper
                = f.select :expire_month, Creditcard.expire_months.map { |k, l| [k, l] }, prompt: ""
                %span.expire-text 月
                =icon("fas", "fa-ad", class: "font")
              .right-contents__add-info__expire__wrapper
                = f.select :expire_year, Creditcard.expire_years.keys, prompt: ""
                %span.expire-text 年
                =icon("fas", "fa-ad", class: "font")
            .right-contents__add-info__security-code
              = f.label :セキュリティコード, class: "label"
              %span.form-require 必須
              = f.text_field :cvc, type: 'text', class: 'input', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: '4'
            .right-contents__add-info__question
              .question-mark ?
              .letter カード裏面の番号とは？
            #card_token.right-contents__add-info__submit
              = f.submit :追加する, type: 'button', class: 'button', id: 'token_submit', data: { "turbolinks": false } 

  = render 'shared/footer'