.wrapper
  = render 'shared/header'

  .user-main
    .user-main__main-contents
      .left-contents
        = render "shared/side-bar"

      .right-contents
        .right-contents__pay-method
          登録クレジットカード情報
        .right-contents__content
          .right-contents__content__info
            .right-contents__content__info__card-number
              = "**** **** **** " + @default_card_information.last4
            .right-contents__content__info__card-exp
              = @exp_month + " / " + @exp_year
          .right-contents__content__remove-card
            = form_tag(delete_user_creditcards_path, method: :post, id: 'charge-form', name: "inputForm") do
              %input{ type: "hidden", name: "card_id", value: "" }
              %button 削除する
          .right-contents__content__about
            =link_to do
              支払方法について

  = render 'shared/footer'