= form_with model: @item, class: "form", id: "item-form" do |f|
  .clearfix
    %ul#previews
      = f.fields_for :images do |image|
        - @item.images.each_with_index do |img, i|
          %li.image-preview
            %li.input
          
            %label.upload-label{style:"display: none;"}
              .upload-label__text
                ドラッグアンドドロップ
                %br
                またはクリックしてファイルをアップロード
                .input-area
                  = image.file_field :image, value: img.name, class: "hidden-image_upload", style: "display:none;"
                  = image.hidden_field :id, value: img.id, name:"item[image][#{i}]"
            .image-preview__wapper
              = image_tag img.name.to_s, class:"preview"
            .image-preview_btn
              .image-preview_btn_edit 編集
              .image-preview_btn_delete 削除