
= link_to image_tag("logo/logo.png", height: "30", width: "180", class: "header-logo")
.items-wrapper
  .item-image
    .title
      .title__black
        出品画像
      .title__hissu
        必須
    .item-image__comment1
      最大10枚までアップロードできます。
    

    = render partial: 'form'
                

  


          
              
              
            
            
         
        



    .comment-red
      画像がありません
  .item-info
    .title
      .title__black
        商品名
      .title__hissu
        必須
    = form_with(model: @item, local:true) do |f|
      = f.text_field :name, placeholder: "40文字まで", class: "name__input-form", size:100, maxlength:40
    .comment-red
      入力してください
    .title
      .title__black
        商品の説明
      .title__hissu
        必須
    = form_with(model: @item, local:true) do |f|
      = f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）色、素材、重さ、定価、注意点など）", class: "description__input-form", maxlength:1000
    .comment-red
      入力してください
    .title
      .title__black
        カテゴリー
      .title__hissu
        必須
    = form_with(model: @item, local:true) do |f|
      = f.select :name, ['レディース', 'メンズ', 'ベビー・キッズ','インテリア・住まい・小物','本・音楽・ゲーム','おもちゃ・ホビー・グッズ','コスメ・香水・美容','家電・スマホ・カメラ','スポーツ・レジャー','ハンドメイド','チケット','自転車・オートバイ','その他'], {include_blank: '選択してください'}, class: "category__input-form"
    .comment-red
      選択してください  
    .title
      .title__black
        サイズ
      .title__hissu
        必須
    = form_with(model: @item, local:true) do |f|
      = f.select :size, [["SS",1],["S",2],["M",3],["L",4],["LL",5],["XL",6],["サイズの詳細は説明欄に記載",7]], {include_blank: "選択してください"}, {class: "size__input-form"}
    .comment-red
      選択してください
    .title-brand
      .title-brand__black
        ブランド
      .title-brand__gray
        任意
    = form_with(model: @brand, local:true) do |f|
      = f.text_field :name, placeholder: "例）シャネル", class: "brand__input-form"    
    .title
      .title__black
        商品の状態
      .title__hissu
        必須
    = form_with(model: @item, local:true) do |f|
      = f.select :condition, [["新品、未使用",1],["未使用に近い",2],["目立った傷や汚れなし",3],["やや傷や汚れあり",4],["傷や汚れあり",5],["全体的に状態が悪い",6]], {include_blank: "選択してください"}, {class: "status__input-form"}
    .comment-red
      選択してください

  .shipping-info
    .title
      .title__black
        配送料の負担
      .title__hissu
        必須
    = form_with(model: @item, local:true) do |f|
      = f.select :postage, [["送料込み（出品者負担）",1],["着払い（購入者負担）",2]], {include_blank: "選択してください"}, {class: "postage__input-form"}
    .comment-red
      選択してください
    .title
      .title__black
        発送元の地域
      .title__hissu
        必須
    = form_with(model: @item, local:true) do |f|
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "選択してください"}, {class: "area__input-form"}
    .comment-red
      選択してください
    .title
      .title__black
        発送までの日数
      .title__hissu
        必須
    = form_with(model: @item, local:true) do |f|
      = f.select :deliberydate, [["1~2日で発送",1],["3~4日で発送",2],["4~7日で発送",3]], {include_blank: "選択してください"}, {class: "days__input-form"}
    .comment-red
      選択してください
    .title
      .title__black
        販売価格
      .title__hissu
        必須
    .price-input
      .price-input__yen
        ￥
      = form_with(model: @item, local:true) do |f|
        = f.number_field :price, placeholder: "0", class: "price-input__form", style: "text-align: right;", min: "1"
    .comment-red
      入力してください
    .commission
      .commision__title
        販売手数料（10%）
      .commision__result
        ￥0
  .profit
    .profit__title
      販売利益
    .profit__result
      ￥0
  = form_with(model: @item, local:true) do |f|
    = f.submit :出品する, placeholder: "", class: "syuppin-btn"
    = f.submit :下書きに保存, placeholder: "", class: "sitagaki-btn"
    = f.submit :もどる, placeholder: "", class: "back-btn" 
