.container
  = render partial: 'shared/header'
  = render partial: "shared/breadcrumb"
  .product-box
    .product-name
      パスタ
    .product-photo
      .product-photo__main
        -# renderでひっぱれたらいいなあ（希望的観測）
        = image_tag "https://2.bp.blogspot.com/-0SvuIaFLFfA/W_UF-s1Hp1I/AAAAAAABQUU/vEqva7t2Q-oJncfmE1WTA9C79-KhQ6AXwCLcBGAs/s800/food_spaghetti_tarako.png", alt: 'main-photo', height: "400", width: "600"
        .product-photo__sub
          .product-photo__sub1
            = image_tag "https://1.bp.blogspot.com/-a0UCS18DBkE/XmHk2hPwD2I/AAAAAAABXvs/mPI2h9TQHI0E7IMH_sHrERIJ-2qnCwkqQCNcBGAsYHQ/s1600/food_kanitama_tenshinhan.png", alt: 'sub1-photo', height: '150', width: '300'
          .product-photo__sub2
            = image_tag "https://1.bp.blogspot.com/-69nUaXviaGM/XexqFi0JPSI/AAAAAAABWdI/Nw-e9Pd-voIOk_mtvqOt6oivamyWc7MUQCNcBGAsYHQ/s1600/food_unagi_ochaduke.png", alt: 'sub2-photo', height: '150', width: '300'
          .product-photo__sub3
            = image_tag 'https://1.bp.blogspot.com/-AajuEiKGGdU/Xbo7H_x7uzI/AAAAAAABVy8/7racUJ6X7jM0RiAX5PmIAOfRkZd_OqciACNcBGAsYHQ/s1600/food_kasu_udon.png', alt: 'sub3-photo', height: '150', width: '300'

    .product-detail-table
      %tbody
        %tr
          %th 出品者
          %td
            hoge
            .product-user-ratings
              .product-user-rating
                = image_tag("")
                = fa_icon "smile-o"
                %span 0
              .product-user-rating
                = image_tag("")
                = fa_icon "meh-o"
                %span 0
              .product-user-rating
                = image_tag("")
                = fa_icon "frown-o"
                %span 0
        %tr
          %th カテゴリー
          %td
            .product-detail-table-sub
            -#  = @sub2_category.sub_category.main_category.name
            .product-detail-table-sub__sub
            -# >
            -# = @sub2_category.sub_category.name
            .product-detail-table-sub__sub__sub
            -# >
            -# = @sub2_category.name
        %tr
          %th ブランド
          %td
            = link_to "//www.furima.com/" do
              .brand-name
                mizuno
        %tr
          %th 商品の状態
          %td
            .product-detail
              -# =@product.state
        %tr
          %th 配送料の負担
          %td
            .product-detail
              -# = @product.fee_payer
        %tr
          %th 配送の方法
          %td
            .product-detail らくらくフリマ便
        %tr
          %th 発送元地域
          %td
            .product-detail.prefecture-name
              -# = @product.city
        %tr
          %th 配送日の目安
          %td
            .product-detail
              -# = @product.delivery_time
      .product-price-box
        20000¥(税込み)
      .product-button-container.clearfix
        .product-button-left
          .product-button-like
            %button{type: "button", name: "like!", class: "product-button"}
              = fa_icon "heart"
              %span.fade-in-down いいね!
          .product-button__report
            = link_to "", class: "product-button__report" do
              = fa_icon "flag"
              %span.fade-in-down 不適切な商品の報告            
          .product-button-right
            = link_to 'https://www.furima.com/' do
              = fa_icon "lock"
              あんしん・あんぜんへの取り組み
        .nav-product-link
          .previous-product.items-link_to
            =fa_icon "chevron-left"
            = link_to "前の商品へ", "#"
          .next-product.items-link_to
            = fa_icon "chevron-right"
            = link_to "次の商品へ", "#"
          .product-social-media-box
            .text-center
            %ul.social-media-box
              %li
                = link_to "#", target: "_blank", class: "share-btn" do
                  = fa_icon "facebook-square"
              %li
                = link_to "#", target: "_blank", class: "share-btn" do
                  = fa_icon "twitter-square"
              %li
                = link_to "#", target: "_blank", class: "share-btn" do
                  = fa_icon "pinterest-square"
    = render "shared/footer"